/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2024 Callender Consulting LLC
 */

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            low-power-enable;
        };
    };
};


arduino_i2c: &i2c0 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    kxtj3: kxtj3@35 {
        status = "okay";
        compatible = "kionix,kxtj3";
        reg = <0x35>;
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
    };
};
