/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2024 Callender Consulting LLC
 */

#include "kxtj3_dt_symbols.h"

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;
                    bias-pull-up;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;
            low-power-enable;
        };
    };
};


arduino_i2c: &i2c0 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    kxtj3: kxtj3@e {
        status = "okay";
        compatible = "kionix,kxtj3";
        reg = <0xe>;
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        accel-rate = <KXTJ3_DT_ODR_0p781_HZ>;
        accel-mode = <KXTJ3_DT_ACCEL_MODE_2G_12BIT>;
        irq-gpios = <&gpio0 29 0>;
        int-gpio-config = <KXTJ3_DT_GPIO_INT_LEVEL_HIGH>;
#if USE_ANYMOTION
        anymotion-on-int;
        anymotion-latch;
        anymotion-mode = <KXTJ3_DT_ANYMOTION_6D_MOVEMENT>;
#endif
    };

    /* 
     *  Alternate "Flipped" I2C address device instance used for soft reset.
     *  See Tcchnical Note TN017 for explaination of "Flipped" address.
     *
     *  In this overlay the "Normal" address is 0x0E (ADDR pin grounded), 
     *  and the "Flipped" address is 0x0C. 
     *  Alternatively, if the Normal address is 0x0F (ADDR pin at Vdd), the
     *  Flipped address will be 0x0D.
     */
    kxtj3_alt: kxtj3_alt@c {
        status = "okay";
        compatible = "kionix,kxtj3";
        reg = <0xc>;
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        alt_reset_dev;
    };
};
